* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 4em;
    text-align: center;
    margin-top: 250px;
}

input {
    margin-left: 590px;
    margin-top: 100px;
    background-color: #9b4703;
    color: #000000;
}