* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ffcec6;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 1em;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3{
    font-family: 'Rampart One', sans-serif;

}


p {
    text-align:justify;
    margin-left: 100px;
    margin-right: 100px;
    text-indent: 50px;
}

body {
    text-align: center;
    
}

footer {
    background-color: #f5ae2a;
    text-align: right;   
}

input {
    margin-left: 850px;
    background-color: #ffea00;
    color: #000000;
    
}